.accCard {
    background-color: #1C1B22;
    border-radius: 20px;
    width: 20vw;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

#green {
    color: green;
    font-size: 4rem;
    height: fit-content;
    margin: 0;
}

#orange {
    color: orange;
    font-size: 4rem;
    height: fit-content;
    margin: 0;
}

#red {
    color: red;
    font-size: 4rem;
    height: fit-content;
    margin: 0;
}


/*  TODO: show actions on hover */
.actions {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.icon {
    width: 1rem;
    color: #e4005A;
}

.hidden {
    display: none;
}

.editPopup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editPopup input {
    font-size: 10rem;
    width: 50%;
    margin-bottom: 10vh;
}